@font-face {
    font-family: 'capriolaregular';
    src: url("../fonts/capriola-regular-webfont.eot");
    src: url("../fonts/capriola-regular-webfont.eot?#iefix") format('embedded-opentype'),
         url("../fonts/capriola-regular-webfont.woff2") format('woff2'),
         url("../fonts/capriola-regular-webfont.woff") format('woff'),
         url("../fonts/capriola-regular-webfont.ttf") format('truetype'),
         url("../fonts/capriola-regular-webfont.svg#capriolaregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	padding: 0;
	font-size: 16px;
	font-family: 'capriolaregular', sans-serif;
}

#head {
	background-image: url("../images/clouds.png");
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 490px;
	background-color: #EFEFEF;
}

.container-fluid {
	padding: 0;
}

#logo{
	padding-top: 20px;
}

#logo img{
    margin-right:55px;
}

#skyline{
	background-image: url("../images/skyline.png");
	background-repeat: repeat-x;
	height: 235px;
	background-position: center;
}

#skyline .row{
	padding-top: 89px;
}

.rainbow {
	background-image: url("../images/rainbow.png");
	background-repeat: repeat-x;
	height: 6px;
}

#sign-in {
	background-image: url("../images/circle.png");
	background-repeat: no-repeat;
	height: 400px;
	text-align: center;
	background-position: center;
}

#log-in-buttons {
  background-image: url("../images/circle-small.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  padding-top: 60px;
	text-align: center;
}

#log-in-buttons button {
  background-color: #E44538;
  border:none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
	font-family: 'capriolaregular', sans-serif;
  outline: none;
  padding: 8px;
  width: 90px;
}

#log-in-buttons button:hover {
  background-color: #d43528;
  color: #fff;
}

#body {
	padding: 20px;
}

#foot {
	padding: 20px 0;
	background-color: #414042;
}

#foot a:hover{
	color: white;
	text-decoration: none;
}



h1,h2,h3{
	color: #E44538;
	font-family: 'capriolaregular', sans-serif;
}

p{
	color: #666666;
	font-size: 14px;
	font-family: 'capriolaregular', sans-serif;
}

@media ( max-width : 640px) {
	#head {
		background-image: none;
		background-color: #EFEFEF;
	}
}

